[submodule "Advanced Turret Control"]
	path = Advanced Turret Control
	url = https://github.com/Mr-Mors/Mods-SE-Advanced-Turret-Control.git
[submodule "More Cargo"]
	path = More Cargo
	url = https://github.com/Mr-Mors/Mods-SE-More-Cargo.git
	branch = master
[submodule "Mors - Quality of Life"]
	path = Mors - Quality of Life
	url = https://github.com/Mr-Mors/Mods-SE-Quality-of-Life.git
[submodule "Missing Blocks"]
	path = Missing Blocks
	url = https://github.com/Mr-Mors/Mods-SE-Missing-Blocks.git
[submodule "Advanced Turret Control - Retro"]
	path = Advanced Turret Control - Retro
	url = https://github.com/Mr-Mors/Mods-SE-Advanced-Turret-Control.git
	branch = retro
